/*** Google Fonts ***/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

@import "../../public/assets/vendor/bootstrap/css/bootstrap.min.css";
@import "../../public/assets/vendor/bootstrap-icons/bootstrap-icons.css";
@import "../../public/assets/vendor/boxicons/css/boxicons.min.css";
@import "../../public/assets/vendor/glightbox/css/glightbox.min.css";
@import "../../public/assets/vendor/swiper/swiper-bundle.min.css";
@import "../../public/assets/vendor/remixicon/remixicon.css";
@import "../../public/assets/css/style.css";

